<mat-toolbar>
  <span>Argos</span>
  <span class="flex-1"></span>
  <button type="button" class="float-right" mat-raised-button (click)="drawer.toggle()">
    <mat-icon>event_seat</mat-icon>
  </button>
</mat-toolbar>

<div class="overflow-y-scroll" >
  <mat-drawer-container style="height: 99vh" class="example-container flex flex-content" autosize>
    <app-customer-list style="width: 75vw" class="basis-4/5"></app-customer-list>
    <mat-drawer #drawer class="sidenav" style="width: 20%" mode="side" position="end">
      <app-bench></app-bench>
    </mat-drawer>

    <div >

    </div>
  </mat-drawer-container>


</div>

<router-outlet></router-outlet>
