<div class="border-2; bg-gray-100" >
  <div style="height: 75vh" class=" overflow-y-scroll" cdkDropList id="bench" [cdkDropListConnectedTo]="MandateLists" (cdkDropListDropped)="drop($event)" >
    <div *ngFor="let employee of employees" cdkDrag>
      <app-employee
        [id]="employee.id"
        (deleteEmployeeEvent)="deleteEmployee($event)"
        (updateEmployeeEvent)="updateEmployee($event)"
        [employee]="employee"></app-employee>
    </div>
  </div>

  <div *ngIf="newEmployeeFormToggle">
    <ng-container>
      <mat-form-field >
        <mat-label>Name </mat-label>
        <textarea type="text" [formControl]="name" matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5">
      </textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Firstname </mat-label>
        <textarea type="text" [formControl]="firstName" matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Profile </mat-label>
        <textarea type="text" [formControl]="profile" matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Businessfield </mat-label>
        <textarea type="text" [formControl]="businessfield" matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Teamleader </mat-label>
        <textarea type="text" [formControl]="teamleader" matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Happiness </mat-label>
        <input type="number" [formControl]="happiness" matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Health </mat-label>
        <textarea type="number" [formControl]="health" matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>

      <button mat-raised-button class="mat-accent" (click)="addNewEmployee()">AddNewEmployee</button>
      <button mat-raised-button class="mat-accent" (click)="toggleNewEmployeeForm()">Cancel</button>
    </ng-container>
  </div>
  <div *ngIf="!newEmployeeFormToggle">
    <button mat-raised-button class="mat-accent" (click)="toggleNewEmployeeForm()">AddNewEmployee</button>
  </div>

</div>
