<div class="rounded-md bg-gray-400 p-0.25 border">
  <div class="float-right">
    <button class="mat-button button-raised" (click)="deleteMandate()">delete</button>
  </div>
  <div class="mx-2">
    <h1> {{mandate.description.description}}</h1>
    <p>Start: {{mandate.startDate}}</p>
    <p>End: {{mandate.endDate}}</p>
    <div *ngIf="employeeAvialable" cdkDropList [cdkDropListConnectedTo]="['bench']" [id]="mandate.id">
      <app-employee (refreshEvent)="ngOnInit()" [employee]="employee" cdkDrag [id]="employee.id" ></app-employee>
    </div>
    <div *ngIf="!employeeAvialable" class="relative m-2 rounded content-center h-20 bottom-0.5 border-dashed border-2" cdkDropList [id]="'mandate'+mandate.id" [cdkDropListConnectedTo]="['bench']" (cdkDropListDropped)="drop($event)">
      <button class="top-1/4 left-1/2" >Employee</button>
    </div>
  </div>
</div>
